$font-stack: "Helvetica"
$text-color: #fff
$text-color-secondary: #a6a6a6
$body-bg-color: rgb(255, 185, 35)
$bg-color: #111
$bg-color-secondary: #1d1d1d
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, #ffffff 0%, #efe9ef 100%)
$gradient-secondary: linear-gradient(90deg, #f3ba1dfa 0%, rgb(255, 185, 35) 100%)